---
---

html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0 0 2rem;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.container {
  max-width: 800px;
  padding: 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  margin: 1rem 0;
  box-sizing: border-box;
}

a:link, a:visited {
  color: #1565c0;
  text-decoration: underline;
}

a:hover {
  color: #2196f3;
}

.bcdice-response {
  color: green;
}

.flex {
  display: flex;
}

.newline-hint span {
  display: inline-block;
}

header {
  border-bottom: solid 1px #ccc;

  h1, h2 {
    margin-top: 0;
    margin-bottom: 0.3rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 500;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    padding-left: 0.2rem;
    color: #585450;
  }

  a {
    padding: 25px 0 12px 100px;
    display: inline-block;
    background: url(/image/bcdice-logo.png) no-repeat left 10px;
  }

  a:link, a:visited {
    color: #000;
    text-decoration: none;
  }

  .container {
    padding: 0.5rem 1rem;
  }
}

.intro, .not-found {
  /* Background pattern from Toptal Subtle Patterns */
  background: #f1f1f1 url('{{ site.baseurl }}/image/hexellence.png');
  border-bottom: solid 1px #ccc;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset;
}

.intro {
  .flex {
    align-items: flex-start;
  }

  .summary-row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .summary, .code-container {
    margin: 0 0.5rem;
  }
}

.intro .summary {
  flex: 1;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    color: darken(#673ab7, 10%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
  }
}

.intro .code-container {
  flex: 1;
}

.intro .code {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border: solid 1px #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

  p {
    margin: 0;
    font-weight: 600;
    line-height: 1.5;
  }
}

.intro .invite {
  margin-top: 2rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  .discord {
    background-color: #7289DA;
  }

  .google-forms {
    background-color: rgb(103, 58, 183);
  }

  .github {
    background-color: #24292e;
  }

  svg {
    fill: #ffffff;
  }

  .btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    width: 100%;

    border-radius: 4px;
    padding: 0.5rem;
    margin: 0 0.5rem;

    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;

    span {
      padding-left: 0.3rem;
    }

    &:hover {
      opacity: 0.8;
    }

    svg, .btn-text {
      margin: 0.1rem 0;
    }
  }
}

article {
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  img {
    max-width: 100%;
  }
}

footer {
  margin-top: 24px;
  text-align: center;
  color: #555;

  svg {
    width: 36px;
    height: 36px;
  }

  .footer-sns {
    a {
      margin: 0 12px;
      fill: #555;
      text-decoration: none;
    }

    a:hover {
      fill: #888;
    }
  }
}

.not-found {
  text-align: center;

  h1 {
    margin: 1rem 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }

  .intro .code-container {
    flex: 2;
  }
}

@media (max-width: 991.98px) {
  .intro {
    .summary-row {
      flex-direction: column;
      margin: 0;
    }

    .summary, .code-container {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
    }

    .invite {
      flex-direction: row;
      margin-top: 1.5rem;
    }
  }
}

@media (max-width: 575.98px) {
  .intro {
    .summary {
      p {
        font-size: 1rem;
      }
    }

    .code p {
      font-size: 0.8rem;
      line-height: 1.4;
    }

    .invite {
      flex-direction: column;
    }

    .invite {
      margin-left: 0;
      margin-right: 0;

      .btn {
        flex-direction: row;
        margin: 0.25rem 0;
        padding: 0.3rem 0.5rem;
      }

      svg, .btn-text {
        margin: 0;
      }
    }
  }
}
